@tailwind base;
@tailwind components;
@tailwind utilities;

.rendered-content {
  /* color: @apply text-purple-900; */
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.rendered-content code{
  @apply m-2 p-2 text-center text-gray-800;
  /* background-color: black; */
  
}

.rendered-content h1 {
  /* color: @apply text-purple-900; */
  /* color : blue; */
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.rendered-content h2 {
  /* color: @apply text-purple-900; */
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}

.rendered-content ul {
  list-style: disc;
  margin-left: 20px;
}

.rendered-content ol {
  list-style: decimal;
  margin-left: 20px;
}

.rendered-content li {
  margin-bottom: 5px;
}

.rendered-content code{
  /* @apply border rounded-md border-blue-900  bg-gray-500 text-white ; */
  border: 1px solid #1c3faa;
  border-radius: 0.25rem;
  background-color: #1f2937;
  color: #fff;
  padding: 0.35rem 0.55rem;
}

